.product {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 15px;
  padding: 2%;
  margin: 0% 2%;

  img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
  
  }
}