<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="components.css">
  <title>Components</title>
</head>
<body>
  <!--COURSE CARD-->
  <article class="course-card">
    <figure></figure>
    <article class="course-title-and-teacher-info">
      <h2 class="course-title">En awesome kurs i grejer</h2>
      <p class="course-teacher">med Lärare Lärarsson</p>
    </article>
    <section class="course-btn-section">
      <button class="nav-btn-plan">Planera</button>
      <button class="nav-btn-courseview">Kursvy</button>
      <button class="nav-btn-overview">Översikt</button>
      <button class="nav-btn-judgement">Bedömning</button>
    </section>
  </article>

  <!--COURSE TOGGLE-->
  <article class="course-toggle">
    <section class="toggle-bar">
      <div class="toggle-bar-dot"></div>
    </section>
    <p class="course-toggle-text">Visa&nbsp;endast&nbsp;mina&nbsp;kurser</p>
  </article>

  <!--NAV BAR-->
  <nav class="nav">
    <a href="">PLANERING</a>
    <a href="">DASHBOARD</a>
    <a href="">KURSVY</a>
    <a href="">BEDÖMNING</a>
  </nav>

  <!--COURSE MODUL-->
  <article class="course-module">
    <section class="course-number-and-info">
      <p class="course-number">01</p>
      <p class="course-info">2 studiedagar</p>
    </section>
    <section class="course-goal-and-list">
      <h2 class="course-goal">Mål med modul</h2>
      <p class="course-listItemText">
        <span class="course-listItemNum">1</span>
        Paradigm shift series A financing social media startup backing android.
      </p>
      <p class="course-listItemText">
        <span class="course-listItemNum">2</span>
        Paradigm shift series A financing social media startup backing android.
      </p>
    </section>
  </article>

  <!--COURSE MODUL FULL-->
  <article class="course-module-full">

    <section class="course-full-number-and-date">
      <p class="course-full-module-number">1.1</p>
      <p class="course-full-date"><img src="assets/date time.png" alt="" srcset=""></p>
    </section>

    <section class="course-full-title-and-list">
      <h2 class="course-full-title">Tillgänglighet - en grundläggande rättighet</h2>
      <p class="course-full-listItemText grayed">
        Här står ett väldigt konkret modulmål som kan vara ganska långt beskrivet
      </p>
      <p class="course-full-listItemText">
        Responsive web design agile development funding MVP alphas channels. User experience beta branding supply chain social proof scrum project ramen influencer hypotheses termsheet.
      </p>
      <p class="course-full-listItemText grayed">
        <img src="assets/document-outline.svg" alt="" srcset="">
        <a href="">PDF artikel om bananböjning</a>
      </p>
      <p class="course-full-listItemText grayed">
        <img src="assets/videocam-outline.png" alt="" srcset="">
        <a href="">Super awesome video</a>
      </p>
      <section class="course-full-understandingEval">
        <div class="course-full-understandingOption">Ej påbörjat</div>
        <div class="course-full-understandingOption">Förstår inte</div>
        <div class="course-full-understandingOption">Förstår delvis</div>
        <div class="course-full-understandingOption">Förstår helt</div>
      </section>
    </section>

  </article>

   <!--COURSE MODULE GOAL ESTIMATE-->
   <article class="course-module-estimate">

    <section class="course-estimate-number-and-info">
      <p class="course-estimate-module-number">1.5</p>
      <p class="course-estimate-date">HTML & CSS</p>
    </section>

    <section class="course-estimate-title-and-list">
      <h2 class="course-estimate-title">Modulmål</h2>

      <p class="course-estimate-listItemText">Uppskatta i vilken utsträckning du nått modulens lärmål</p>

      <div class="course-estimate-understandingBox">
        <h4>Lorem ipsum dolor sit amet, consectetu</h4>
        <section class="course-estimate-understandingEval">
          <p class="course-estimate-understandingText">Förstår&nbsp;inte</p>
          <div class="course-estimate-understandingDotLine">
            <div class="course-estimate-understandingDot dot-1"></div>
          </div>
          <p class="course-estimate-understandingText">Förstår&nbsp;allt</p>
        </section>
        </div>

      <div class="course-estimate-understandingBox">
      <h4>Lorem ipsum dolor sit amet, consectetu</h4>
      <section class="course-estimate-understandingEval">
        <p class="course-estimate-understandingText">Förstår&nbsp;inte</p>
        <div class="course-estimate-understandingDotLine">
          <div class="course-estimate-understandingDot dot-2"></div>
        </div>
        <p class="course-estimate-understandingText">Förstår&nbsp;allt</p>
      </section>
      </div>

      <div class="course-estimate-understandingBox">
        <h4>Lorem ipsum dolor sit amet, consectetu</h4>
        <section class="course-estimate-understandingEval">
          <p class="course-estimate-understandingText">Förstår&nbsp;inte</p>
          <div class="course-estimate-understandingDotLine">
            <div class="course-estimate-understandingDot dot-3"></div>
          </div>
          <p class="course-estimate-understandingText">Förstår&nbsp;allt</p>
        </section>
        </div>

      <button class="course-estimate-understandingBtn">Ok, klar!</button>
    </section>

  </article>

  
</body>
</html>