
WebCommunication/Firebase/firebaseConfig.js
WebCommunication/SwingNotes/firebase.js
WebCommunication/ShoppingCardDB/scripts/firebaseConfig.js
AvanceradWebbutveckling/commuter/src/utilities/secrets.ts
