* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dotted red;
}

body {
  width: 100vw;
  min-width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 200px;
}

header {
  background-color:firebrick;
  min-height: 50px;
}

nav {
  background-color: beige;
  min-height: 50px;
}

main {
  background-color: cadetblue;
  min-height: 50px;
}

.main__productSection {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}

.main__product {
  width: 200px;
}

footer {
  background-color:cornflowerblue;
  min-height: 50px;
}