.orderPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 8%;

  .orderPage__infoText {
    margin: 5% 0%;
  }

  div {
    margin: 5% 0%;

    .orderPage__artist {
      font-size: 2rem;
      margin: 2% 0%;
    }

    .orderPage__dateAndTime {
      color: rgba(55, 174, 171, 1);
      margin: 2% 0%;
    }

    .orderPage__location {
      margin: 2% 0%;
    }
  }

  .orderPage__price {
    text-shadow: 1px 1px rgba(245, 107, 154, 1);
    margin: 30% 0%;
    font-size: 1.8rem;
  }

  a {
    width: 100%;
  }

  .orderBtn {
    width: 100%;
    min-height: 60px;
    border: none;
    border-radius: 3px;
    background-color: rgba(55, 174, 171, 1);
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 2%;
    margin: 10% 0%;
  }

  .orderBtn:hover {
    background-color: rgba(55, 174, 170, 0.623);
  }
}