* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.555);
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  max-height: 80%;
  width: 50%;
  min-width: 360px;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  background-color: rgb(234, 234, 248);
  border-radius: 20px;
  padding: 3%;
  box-shadow: 0px 5px 15px rgb(63, 63, 63);
  position: relative;
}

.counterSection {
  width: 100%;
  margin: auto 0 auto 0;
}

.resultContainer {
  width: 100%;
  height: 10%;
} 

.resultMsg {
  margin: auto;
}

.buttonSection {
  width: 100%;
  height: 30%;
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.resetContainer {
  width: 100%;
}

.highscoreContainer {
  position: absolute;
  top: 40%;
  left: 35%;
}

button {
  font-size: 1.4rem;
  padding: 12px 15px;
  margin: 1%;
  border:none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgb(112, 112, 112);
  cursor: pointer;
}

button:hover {
  border: 1px solid hsla(0, 0%, 66%, 0.26);
  box-shadow: 0px 2px 15px rgb(112, 112, 112);
}

button:active {
  font-size: 1.5rem;
  color: hsla(0, 0%, 0%, 0.5);
}

.rockBtn {
  background-color: hsla(0, 14%, 66%, 0.8);
  color: hsla(0, 0%, 0%, 0.8);
}

.paperBtn {
  background-color: hsla(0, 71%, 89%, 0.8);
  color: hsla(0, 0%, 0%, 0.8);
  margin: 0 2% 0 2%;
}

.scissorsBtn {
  background-color: hsla(39, 100%, 69%, 0.8);
  color: hsla(0, 0%, 0%, 0.8);
}

.resetBtn {
  background-color: rgb(122, 18, 18);
  color: hsla(0, 0%, 100%, 1);
}
