

.searchSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
  
  input {
    border-radius: 6px;
    border: 1px solid rgb(240, 240, 240);
    padding: 0% 1%;
    margin-right: 0.5%;
  }

  input:focus-visible {
    outline: 1px solid rgb(255, 255, 255);
    background-color: rgb(61, 61, 61);
  }

  button {
    border: 1px solid rgb(240, 240, 240);
  }
}

.searchMessage {
  text-align: center;
}

.movieSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  width: 90%;
  border-top: 1px solid black;
  padding: 2%;
  background-color: rgb(107, 100, 100);

}